.flash,
.actions {
  display: none;
}
.positive,
.negative,
.amount_negative {
  color: black;
}
/* =========================================================================
   Base
   ========================================================================== */
html {
  font-size: smaller;
  line-height: 1.5;
  height: 100%;
}
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  overflow: auto;
}
dl {
  margin: 0 !important;
}
dt,
dd {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
p {
  line-height: inherit;
  margin: 0;
}
#app-north,
#app-west,
#interrupt,
.top-section {
  display: none;
}
#content {
  width: 100%;
}
#wrapper {
  width: 100%;
}
#content {
  margin: 0;
  padding: 0;
}
/* =========================================================================
   Link
   ========================================================================== */
a {
  color: black;
  text-decoration: none;
}
/* =========================================================================
   Button
   ========================================================================== */
.btn {
  display: none;
}
.bt-modal,
.modal,
.modal__multi-step {
  display: none;
}
