@font-face {
  font-family: 'fonticons';
  src:
    url('fonts/fonticons-1633324627473.ttf') format('truetype'),
    url('fonts/fonticons-1633324627473.woff') format('woff'),
    url('fonts/fonticons.svg#fonticons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fonticons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cloud_upload:before {
  content: "\e2c3";
}
.icon-cloud_done:before {
  content: "\e2bf";
}
.icon-cloud_off:before {
  content: "\e2c1";
}
.icon-cloud_queue:before {
  content: "\e2c2";
}
.icon-open_in_new:before {
  content: "\e89e";
}
.icon-sidebar:before {
  content: "\e901";
}
.icon-android:before {
  content: "\e859";
}
.icon-arrow_back:before {
  content: "\e5c4";
}
.icon-arrow_downward:before {
  content: "\e5db";
}
.icon-arrow_forward:before {
  content: "\e5c8";
}
.icon-arrow_upward:before {
  content: "\e5d8";
}
.icon-flag:before {
  content: "\e153";
}
.icon-chat:before {
  content: "\e0b7";
}
.icon-check:before {
  content: "\e5ca";
}
.icon-check_box_outline_blank:before {
  content: "\e835";
}
.icon-crop_portrait:before {
  content: "\e3c5";
}
.icon-done_all:before {
  content: "\e877";
}
.icon-drafts:before {
  content: "\e151";
}
.icon-filter_list:before {
  content: "\e152";
}
.icon-format_align_justify:before {
  content: "\e235";
}
.icon-format_bold:before {
  content: "\e238";
}
.icon-format_indent_decrease:before {
  content: "\e23d";
}
.icon-format_indent_increase:before {
  content: "\e23e";
}
.icon-format_italic:before {
  content: "\e23f";
}
.icon-format_list_bulleted:before {
  content: "\e241";
}
.icon-format_underlined:before {
  content: "\e249";
}
.icon-question_answer:before {
  content: "\e8af";
}
.icon-star:before {
  content: "\e838";
}
.icon-inbox2:before {
  content: "\e156";
}
.icon-angle-down:before {
  content: "\e313";
}
.icon-angle-left:before {
  content: "\e314";
}
.icon-angle-right:before {
  content: "\e316";
}
.icon-angle-up:before {
  content: "\e317";
}
.icon-mail_outline:before {
  content: "\e0e1";
}
.icon-menu:before {
  content: "\e5d2";
}
.icon-more_horiz:before {
  content: "\e5d3";
}
.icon-more_vert:before {
  content: "\e5d4";
}
.icon-visibility:before {
  content: "\e8f4";
}
.icon-reorder:before {
  content: "\e8fe";
}
.icon-short_text:before {
  content: "\e261";
}
.icon-sort:before {
  content: "\e164";
}
.icon-sort_by_alpha:before {
  content: "\e053";
}
.icon-star_border:before {
  content: "\e83a";
}
.icon-today:before {
  content: "\e8df";
}
.icon-unfold_less:before {
  content: "\e5d6";
}
.icon-view_carousel:before {
  content: "\e8eb";
}
.icon-view_comfy:before {
  content: "\e42a";
}
.icon-view_week:before {
  content: "\e8f3";
}
.icon-not_interested:before {
  content: "\e033";
}
.icon-content_paste:before {
  content: "\e14f";
}
.icon-link:before {
  content: "\e157";
}
.icon-send:before {
  content: "\e163";
}
.icon-access_time:before {
  content: "\e192";
}
.icon-attach_file:before {
  content: "\e226";
}
.icon-edit:before {
  content: "\e3c9";
}
.icon-filter_none:before {
  content: "\e3e0";
}
.icon-delete:before {
  content: "\e872";
}
.icon-print:before {
  content: "\e8ad";
}
.icon-zoom-in:before {
  content: "\e615";
}
.icon-heart:before {
  content: "\e60b";
}
.icon-warning:before {
  content: "\e900";
}
.icon-settings:before {
  content: "\e600";
}
.icon-phone:before {
  content: "\e60f";
}
.icon-add:before {
  content: "\e602";
}
.icon-reply:before {
  content: "\e610";
}
.icon-reply-all:before {
  content: "\e611";
}
.icon-drive-file:before {
  content: "\e604";
}
.icon-folder:before {
  content: "\e605";
}
.icon-keyboard-tab:before {
  content: "\e902";
}
.icon-user:before {
  content: "\e623";
}
.icon-close:before {
  content: "\e612";
}
.icon-image:before {
  content: "\f03e";
}
.icon-photo:before {
  content: "\f03e";
}
.icon-picture-o:before {
  content: "\f03e";
}
.icon-arrows-h:before {
  content: "\f07e";
}
.icon-square-o:before {
  content: "\f096";
}
.icon-youtube-play:before {
  content: "\f16a";
}
.icon-apple:before {
  content: "\f179";
}
.icon-windows:before {
  content: "\f17a";
}
.icon-header:before {
  content: "\f1dc";
}
.icon-chrome:before {
  content: "\f268";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-exclamation:before {
  content: "\f12a";
}
.icon-calendar-o:before {
  content: "\f133";
}
.icon-long-arrow-right:before {
  content: "\f178";
}
.icon-sticky-note-o:before {
  content: "\f24a";
}
.icon-search:before {
  content: "\e61f";
}
.icon-align-left:before {
  content: "\e619";
}
.icon-minus:before {
  content: "\e61a";
}
.icon-google-plus:before {
  content: "\e61c";
}
.icon-google:before {
  content: "\e61d";
}
.icon-facebook:before {
  content: "\e606";
}
.icon-twitter:before {
  content: "\e608";
}
.icon-group:before {
  content: "\e609";
}
.icon-question:before {
  content: "\e60d";
}
.icon-evernote:before {
  content: "\e903";
  color: #2dbe60;
}
.icon-gmail:before {
  content: "\e904";
  color: #d14836;
}
.icon-onenote:before {
  content: "\e905";
  color: #80397b;
}
.icon-inbox:before {
  content: "\e627";
}
.icon-task:before {
  content: "\e620";
}
.icon-spinner:before {
  content: "\e621";
}
.icon-calendar:before {
  content: "\e603";
}
