.autoSelect {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.noSelect,
.ns {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.touchScrolling {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-scroll-chaining: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.flexvert {
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: space-around;
  -ms-justify-content: space-around;
  -webkit-justify-content: space-around;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
}
.noClick {
  pointer-events: none;
}
.shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 4px;
}
iframe[seamless] {
  background-color: transparent;
  border: 0px none transparent;
  padding: 0px;
  overflow: hidden;
}
body {
  overflow: hidden;
  margin: 0;
  -moz-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -moz-transform: translate(5px, 5px);
  -webkit-transform: translate(5px, 5px);
  -o-transform: translate(5px, 5px);
  transform: translate(5px, 5px);
}
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  line-height: 1.6em;
  overflow-x: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  -ms-user-select: none !important;
}
#video {
  position: absolute;
  overflow: hidden;
  width: 1280px;
  height: 720px;
  top: 0px;
  left: 0px;
  opacity: 0;
}
#video #videoFrame {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: white;
}
#video #videoButtons {
  opacity: 0;
  display: none;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  margin-top: -130px;
  -webkit-transition: opacity 800ms;
  -moz-transition: opacity 800ms;
  -o-transition: opacity 800ms;
  transition: opacity 800ms;
}
#video #videoButtons #platforms {
  display: inline-block;
  font-size: 50px;
  color: #444;
  padding: 50px 0;
}
#video #videoButtons #platforms > * {
  padding: 0 15px;
}
#video #videoButtons #platforms > .icon-desktop {
  font-size: 70px;
}
#video #videoButtons #platforms > .icon-tablet {
  font-size: 60px;
}
#video #whiteFrame {
  background: white;
}
#video #callingFrame {
  visibility: hidden;
  background: black;
  -webkit-transition: all 800ms;
  -moz-transition: all 800ms;
  -o-transition: all 800ms;
  transition: all 800ms;
}
#video #callingFrame #callingWrapper {
  opacity: 0;
}
#video #callingFrame #callingTop {
  height: 100%;
  background: #0099dd;
  color: white;
  text-align: left;
  padding: 20px 10px;
  line-height: 1.3em;
}
#video #callingFrame #callingTop #callingTitle {
  font-size: 12px;
  color: #ee3;
}
#video #callingFrame #callingTop #callingName {
  font-size: 24px;
  font-weight: 200;
}
#video #callingFrame #callingTop #callingType {
  font-size: 12px;
  font-weight: 200;
  margin-top: 2px;
  color: rgba(255, 255, 255, 0.75);
}
#video #callingFrame #callingBottom {
  height: 200px;
  bottom: 0;
  background-size: 100%;
}
#tryItNow {
  margin-top: 0px;
  font-size: 54px;
  font-weight: 200;
  color: #444;
  line-height: 1;
  display: block;
  text-decoration: none;
}
#videoURL {
  display: block;
  font-size: 36px;
  color: #0099dd;
  line-height: 1;
  text-decoration: none;
}
#tdBorderLeft,
#tdBorderRight {
  position: absolute;
  top: 0;
  height: 100%;
  background: #f1f1f1;
  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
#tdBorderLeft {
  width: 103px;
  left: 0;
  border-right: 0;
  border-radius: 8px 0 0 0;
}
#tdBorderRight {
  width: 103px;
  left: 0;
  border-left: 0;
  border-radius: 0 8px 0 0;
}
.topDemoWrapper {
  position: relative;
  border: 1px solid transparent;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.topDemoWrapper {
  position: absolute;
  left: 816px;
  top: 420px;
  width: 204px;
  height: 423px;
  transform: translate(0, 740px) scale(2.4);
}
.topDemoWrapper #tdBorderLeft,
.topDemoWrapper #tdBorderRight {
  background: #333333;
  border: 1px solid #bbbbbb;
}
.topDemoWrapper #tdBorderLeft {
  border-right: 0;
  border-radius: 25px 0 0 25px;
}
.topDemoWrapper #tdBorderRight {
  border-left: 0;
  -moz-transform: translate(102px, 0);
  -webkit-transform: translate(102px, 0);
  -o-transform: translate(102px, 0);
  transform: translate(102px, 0);
  border-radius: 0 25px 25px 0;
}
.topDemoWrapper #topDemoFrame,
.topDemoWrapper #callingFrame,
.topDemoWrapper #whiteFrame {
  position: absolute;
  left: 12px;
  width: 180px;
  height: 309px;
  top: 57px;
  padding: 0;
}
.topDemoWrapper #demoTopMobile {
  width: 172.41379310344828%;
  height: 172.41379310344828%;
  -webkit-transform: scale(0.58, 0.58);
  -moz-transform: scale(0.58, 0.58);
  transform: scale(0.58, 0.58);
  -moz-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}
