* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.m8 {
  margin-top: 120px !important;
}
.m7 {
  margin-top: 96px !important;
}
.m6 {
  margin-top: 64px !important;
}
.m5 {
  margin-top: 48px !important;
}
.m4 {
  margin-top: 32px !important;
}
.m3 {
  margin-top: 24px !important;
}
.m2 {
  margin-top: 16px !important;
}
.m1 {
  margin-top: 8px !important;
}
html {
  height: 100%;
  opacity: 0;
}
html,
body {
  max-width: 100%;
}
body {
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Roboto, "Segoe UI", Helvetica, Arial, Sans-serif;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  position: absolute;
  width: 100%;
  min-height: 100%;
  -ms-user-select: none !important;
  background: #fff;
  color: #444;
}
.loaded body {
  opacity: 1;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  padding: 0;
  background: #e6e6e6;
  margin: 16px 0;
}
.section {
  width: 100%;
  padding: 60px 0;
}
@media screen and (max-width: 580px) {
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 581px) {
  .section-border {
    border-top: 1px solid #eaeaea;
  }
}
.demo-img-large {
  max-width: 1000px;
}
.columns {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.columns .demo-img {
  max-width: 380px;
}
.columns .demo-img > img {
  display: block;
  max-width: 100%;
}
@media screen and (max-width: 700px) {
  .columns {
    margin-top: 60px;
  }
  .columns > * {
    margin-left: auto;
    margin-right: auto;
  }
  .columns > * .col-text {
    text-align: center;
  }
  .columns > *:last-child {
    margin-top: 40px;
  }
}
@media screen and (min-width: 701px) {
  .columns {
    margin-top: 80px;
    display: -moz-box;
    display: -ms-box;
    display: box;
    display: -moz-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .columns.columnsFlipped {
    flex-direction: row-reverse;
  }
  .columns.columnsFlipped .demo-img {
    margin-right: 0;
    margin-left: -8px;
  }
  .columns.columnsFlipped .section-text {
    margin-right: -20px;
  }
  .columns .section-text {
    max-width: 320px;
    margin-left: 16px;
  }
  .columns .spacer {
    min-width: 24px;
    max-width: 60px;
    height: 100%;
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .columns .demo-img {
    margin-right: -40px;
  }
  .columns .demo-img > img {
    margin-top: -20px;
  }
}
.section-full .title {
  line-height: 1.3;
}
.section-full .title,
.section-full .subtitle {
  margin-bottom: 32px;
  padding: 0 16px;
}
.section-full {
  text-align: center;
  overflow: hidden;
  padding-bottom: 64px;
}
.section-full + .section-full {
  border-top: 1px solid #eee;
  padding-top: 64px;
}
.section-text {
  z-index: 1;
}
.demo {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
@-webkit-keyframes spinnerRotate {
  0% {
    -webkit-transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
  }
}
@keyframes spinnerRotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.demoContainer.icon-spinner,
#videoFrameWrapper.icon-spinner {
  position: relative;
  text-align: center;
  color: #666;
}
.demoContainer.icon-spinner:before,
#videoFrameWrapper.icon-spinner:before {
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  margin-top: -18px;
  font-size: 20px;
  font-weight: bold;
  -webkit-animation: spinnerRotate 500ms infinite linear;
  -moz-animation: spinnerRotate 500ms infinite linear;
  -o-animation: spinnerRotate 500ms infinite linear;
  animation: spinnerRotate 500ms infinite linear;
}
.demoContainer.icon-spinner:after,
#videoFrameWrapper.icon-spinner:after {
  content: "Loading live demo...";
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Roboto, "Segoe UI", Helvetica, Arial, Sans-serif;
  margin-top: 18px;
}
.pageContent {
  min-height: calc(100vh - 44px - 40px);
}
.title {
  font-size: 36px;
  font-weight: bold;
  line-height: 50px;
  color: #333;
  margin: 0;
  text-align: center;
}
.subtitle {
  max-width: 540px;
  text-align: left;
  margin: 0 auto;
  line-height: 1.4;
  color: #666;
}
.subtitle-center {
  text-align: center;
}
.sectionText {
  color: #666;
  max-width: 720px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.4;
  padding: 0 16px;
}
.sectionText h2,
.sectionText h3 {
  color: #333;
}
@media screen and (max-width: 540px) {
  #topBar {
    margin: 0 16px !important;
  }
  #linkPress {
    display: none;
  }
  .logo {
    height: 50px !important;
  }
}
.mobile .h {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.mobile .noMobile {
  display: none !important;
}
.mobile .link {
  padding: 0 3px;
  line-height: 44px;
}
.mobile #logoWrapper {
  top: 0 !important;
  left: 0 !important;
}
.mobile .ytVideo {
  max-width: 100%;
  height: auto !important;
}
html:not(.mobile) .mobileOnly {
  display: none !important;
}
.link {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  line-height: 24px;
  color: #444;
  font-size: 14px;
}
.link i {
  font-size: 18px;
  display: inline-block;
  padding-bottom: 5px;
  vertical-align: middle;
}
.link.selected {
  font-weight: bold;
  color: black;
}
.hidden {
  display: none !important;
}
.linkLogin {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-left: 8px;
}
.linkButton {
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
.linkButton:hover {
  background: #f3f3f3;
}
.linkBlue {
  background: #09d;
  padding: 6px 16px;
  color: white;
  font-weight: bold;
  border: 0;
}
.linkBlue:hover {
  background: #2bbeff;
}
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.ib {
  display: inline-block;
}
.mc {
  margin: 0 auto;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.subtext {
  text-align: left;
  line-height: 1.5em;
}
.subtext b {
  color: black;
}
#topBar {
  position: relative;
  margin: 0 16px;
  height: 44px;
  z-index: 1000;
}
#topBar #logoWrapper {
  position: absolute;
  left: 8px;
  top: -3px;
  z-index: 22;
  display: block;
  text-decoration: none;
  text-align: left;
  width: 120px;
  white-space: nowrap;
}
#topBar #logoWrapper .logo {
  height: 60px;
}
#topBar #topLinks {
  position: relative;
  z-index: 20;
  line-height: 52px;
  text-align: right;
}
.g {
  color: #aaa;
}
.card {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  background: white;
}
.timeBar {
  position: relative;
  width: 800px;
  max-width: 100%;
  margin: 24px auto;
  padding: 0 8px;
  font-weight: 500;
}
.timeBar > div:first-child {
  text-align: left;
  font-size: 20px;
}
.timeBar > div:last-child {
  color: white;
  border-radius: 4px;
  height: 44px;
  line-height: 44px;
  font-size: 18px;
  max-width: 100%;
  min-width: 90px;
  box-shadow: 2px 3px 3px #bbb;
  margin-top: 8px !important;
}
.timeBarFree > div:first-child {
  color: #2a6;
}
.timeBarFree > div:last-child {
  background: #2a6;
  width: 15%;
}
.timeBarPremium > div:first-child {
  color: #09d;
}
.timeBarPremium > div:last-child {
  background: #09d;
  width: 100%;
}
#pricingTable {
  width: 95%;
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  border-spacing: 0;
  color: #666;
  font-size: 15px;
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
}
#pricingTable > div {
  min-height: 30px;
  line-height: 30px;
  display: -moz-box;
  display: -ms-box;
  display: box;
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#pricingTable > div > div {
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
#pricingTable > div > div:first-child {
  padding-left: 16px;
  text-align: left;
  min-width: 180px;
  -webkit-flex: 1.5;
  -webkit-box-flex: 1.5;
  -ms-flex: 1.5;
  flex: 1.5;
}
#pricingTable > div > div:first-child img,
#pricingTable > div > div:first-child i {
  width: 20px;
  vertical-align: middle;
  margin-right: 8px;
}
#pricingTable > div > div:not(:first-child) {
  max-width: 200px;
  min-width: 60px;
  border-left: 1px solid #ddd;
  text-align: center;
}
#pricingTable > div > div:last-child {
  color: #08c;
}
#pricingTable > div.header > div {
  padding-top: 16px;
}
#pricingTable > div:first-child {
  border-radius: 3px;
  background: #f8f8f8;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
#pricingTable > div:first-child div {
  border-bottom: 1px solid #ddd;
}
#pricingTable > div:first-child div:first-child {
  border-top-left-radius: 3px;
}
#pricingTable > div:first-child div:last-child {
  border-top-right-radius: 3px;
}
@media screen and (max-width: 580px) {
  #pricingTable > div:first-child div {
    font-size: 15px;
  }
}
#pricingTable .header {
  font-weight: bold;
  color: #222;
}
#pricingTable .lastRow {
  min-height: 16px;
}
#pricingTable .price {
  vertical-align: top;
  line-height: 24px;
}
#pricingTable .icon-check {
  font-size: 16px;
}
#pricingTable .icon-group {
  color: #2a6;
}
#pricingTable .icon-heart {
  display: inline-block;
  color: #a30;
  margin-left: 6px;
  line-height: 18px;
}
.justified {
  max-width: 820px;
  text-align: justify;
}
#billingForm {
  width: 60%;
}
#footer {
  line-height: 40px;
  height: 40px;
  margin-bottom: 8px;
}
#footer .socialIcons {
  display: inline-block;
}
#footer .socialIcons > a {
  text-align: center;
  width: 44px;
}
.trans {
  -webkit-transition: all 1000ms;
  -moz-transition: all 1000ms;
  -o-transition: all 1000ms;
  transition: all 1000ms;
}
iframe[seamless] {
  background-color: transparent;
  border: 0px none transparent;
  padding: 0px;
  overflow: hidden;
}
.h {
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
.h:hover {
  color: #2bbeff !important;
}
.hb {
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
.hb:hover {
  background: #2bbeff !important;
}
.p {
  cursor: pointer;
}
.flex1,
.f1 {
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.blue {
  color: #09d;
}
.pageWidth > div {
  max-width: 820px;
  margin-left: auto;
  margin-right: auto;
}
.padded {
  max-width: 820px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.unpadded {
  max-width: 920px;
  margin-left: -65px;
  margin-right: -65px;
}
a {
  text-decoration: none;
}
.platforms {
  vertical-align: top;
}
.platform {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 72px;
  color: #666;
  text-align: center;
  vertical-align: middle;
  padding: 12px;
}
.platform i {
  font-size: 24px;
}
.platform div {
  margin-top: 4px;
  font-size: 13px;
}
.platforms {
  position: relative;
  text-align: center;
}
.platforms .platformIcons {
  margin-top: 8px;
}
.platforms .desktopIcon {
  padding-top: 3px;
}
.signup {
  font-weight: 600;
}
@media screen and (max-width: 600px) {
  .signup {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
  }
}
@media screen and (min-width: 601px) {
  .signup {
    height: 60px;
    line-height: 60px;
    font-size: 20px;
  }
}
.signup .signInText {
  display: inline-block;
  cursor: pointer;
  padding: 0 32px;
  border-radius: 6px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
.signup.blue .signInText {
  background: #09d;
  color: white;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
  cursor: pointer;
}
.signup.blue .signInText:hover {
  background: #2bbeff !important;
}
.signup.red .signInText {
  background: #de4c3c;
  color: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 8px rgba(0, 0, 0, 0.3);
}
.signup.red .signInText:hover {
  background: #f34433 !important;
}
.signup.green .signInText {
  background: #4ec9a6;
  color: white;
}
.signup.green .signInText:hover {
  background: #62cfb0;
}
.signup:hover .tooltip {
  opacity: 1;
}
.section-full h1 {
  text-align: center;
  line-height: 1.3;
  font-weight: bold;
  padding: 0 16px;
  margin: 0;
}
@media screen and (max-width: 600px) {
  .section-full h1 {
    font-size: 32px;
  }
}
@media screen and (min-width: 601px) {
  .section-full h1 {
    font-size: 36px;
  }
}
.section-full h2 {
  font-size: 32px;
  line-height: 1;
  font-weight: bold;
  color: #333;
  margin: 0;
}
.section-full h2 i {
  display: inline-block;
  font-size: 26px;
  vertical-align: bottom;
  line-height: 32px;
  margin-right: 16px;
  color: #444;
}
.section-full h2 img {
  height: 34px;
  vertical-align: bottom;
  margin-right: 12px;
}
h3 {
  font-size: 26px;
}
h3:first-child {
  margin: 0;
}
@media screen and (max-width: 700px) {
  h3:not(:first-child) {
    margin: 24px 0 0 0;
  }
}
@media screen and (min-width: 701px) {
  h3:not(:first-child) {
    margin: 48px 0 0 0;
  }
}
.iSubtitle {
  text-align: center;
  font-size: 17px;
  line-height: 1.4;
  color: #666;
  padding: 0 16px;
  margin: 0 auto;
  margin-top: 24px;
}
.iSubtitle b {
  color: #444;
}
.col-subtitle {
  text-align: left;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 300;
  color: #666;
  margin-top: 8px !important;
}
.col-subtitle + .col-text {
  margin-top: 48px !important;
}
.col-text {
  text-align: left;
}
.col-text p {
  font-size: 17px;
  color: #666;
  margin-top: 8px;
}
.col-text-large {
  font-size: 18px;
}
.blogImg {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}
#sectionPremiumTop {
  margin-top: 96px;
}
@media screen and (max-width: 700px) {
  .premiumTitle {
    font-size: 42px !important;
  }
}
@media screen and (min-width: 700px) {
  .premiumTitle {
    font-size: 64px !important;
  }
}
.premiumSubtitle {
  margin: 0 auto;
  max-width: 470px;
  font-size: 17px;
  line-height: 1.4;
}
.premiumButtons {
  margin: 0 auto;
  text-align: center;
  margin-top: 32px !important;
}
.premiumButtons > div {
  display: inline-block;
  margin: 0 12px;
}
.premiumImg {
  max-width: 100%;
}
#premium #imgDisplaySettings {
  height: 640px;
}
#premium #img-drive {
  width: 800px;
}
#premium #img-calendar {
  width: 900px;
}
#premium #img-workspaces {
  width: 1000px;
}
#premium .iSubtitle + img {
  margin-top: 32px;
}
#premium .columns {
  -webkit-align-items: center;
  align-items: center;
}
#sectionDisplaySettings .columns {
  margin-top: 48px;
}
.videoWrapper,
.demo-img-large-border,
.screenshot img {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 0 8px 0 rgba(0, 0, 0, 0.22);
}
@media screen and (max-width: 600px) {
  .videoWrapper,
  .demo-img-large-border,
  .screenshot img {
    border-radius: 4px;
  }
}
@media screen and (min-width: 601px) {
  .videoWrapper,
  .demo-img-large-border,
  .screenshot img {
    border-radius: 8px;
  }
}
.colorHigh {
  color: #f30;
}
.colorMed {
  color: #f80;
}
.colorLow {
  color: #fc3;
}
.starred {
  background: #ffb;
  display: inline-block;
  font-weight: normal;
}
.complete {
  color: #d6d6d6;
}
.contact {
  color: #2a6 !important;
}
.tag {
  color: #09d !important;
}
.date {
  color: #a30 !important;
}
.flexbox {
  display: -moz-box;
  display: -ms-box;
  display: box;
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex-center {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.block {
  display: block;
}
.strike {
  text-decoration: line-through;
  opacity: 0.35;
}
.bioSection {
  line-height: 1.5;
  padding: 0;
  max-width: 820px;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.bioSection > div {
  max-width: 360px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 60px;
  vertical-align: top;
  -webkit-flex: 1 0 280px;
  -webkit-box-flex: 1 0 280px;
  -ms-flex: 1 0 280px;
  flex: 1 0 280px;
}
.bioSection .img {
  height: 150px;
  width: 150px;
  background-size: 150px 150px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.bioSection .bioText {
  text-align: left;
}
.bioHeader {
  text-align: center;
}
.bioName {
  font-size: 24px;
  font-weight: bold;
  margin-top: 15px;
}
.bioName > a {
  color: #2a6 !important;
}
.bioText {
  margin-top: 20px;
}
.bioTitle {
  font-size: 15px;
  font-weight: bold;
}
.bioLoc {
  font-size: 15px;
}
#purchase #pricingArea > div {
  display: inline-block;
}
#purchase input {
  font-size: 16px;
  line-height: 1.5;
}
#purchase .pricingSelected span {
  background: #777;
  cursor: inherit;
}
#purchase .pricingSelected span:hover {
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  transform: none;
  background: #777 !important;
}
.m8 {
  margin-top: 120px !important;
}
.m7 {
  margin-top: 96px !important;
}
.m6 {
  margin-top: 64px !important;
}
.m5 {
  margin-top: 48px !important;
}
.m4 {
  margin-top: 32px !important;
}
.m3 {
  margin-top: 24px !important;
}
.m2 {
  margin-top: 16px !important;
}
.m1 {
  margin-top: 8px !important;
}
/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
.mobile .noMobile {
  display: none !important;
}
html:not(.mobile) .mobileOnly {
  display: none !important;
}
/* Global Reset */
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}
.post,
.postContent {
  color: #444;
}
.postImg {
  margin: 0 auto;
  display: block;
  width: 600px;
  max-width: 100%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
h1 {
  margin-bottom: 0.75em;
  font-size: 150%;
  line-height: 1;
}
h1:not(:first-child) {
  margin-top: 2em;
}
h2 {
  margin-bottom: 0.2em;
  font-size: 120%;
}
h2:not(:first-child) {
  margin-top: 1em;
}
h3 {
  margin-bottom: 0.2em;
  font-size: 110%;
}
h3:not(:first-child) {
  margin-top: 1em;
}
p + p,
ul + p {
  margin-top: 1em;
}
.postContent,
.postExcerpt {
  padding-top: 15px;
  padding-bottom: 15px;
}
#disqus_thread {
  padding-bottom: 60px;
}
.postContent ul,
.postExcerpt ul,
.postContent table,
.postExcerpt table {
  position: relative;
}
.postContent table,
.postExcerpt table {
  padding: 0 0 0 20px !important;
}
.postContent ul,
.postExcerpt ul {
  list-style-type: none;
  padding: 0;
  padding-left: 6px;
}
.postContent ul li,
.postExcerpt ul li {
  padding: 3px 0 3px 20px !important;
}
.postContent ul li:before,
.postExcerpt ul li:before {
  content: '\2022';
  color: #ddd;
  float: left;
  margin-left: -25px;
  font-size: 24px;
  line-height: 1;
}
.postContent ul ul,
.postExcerpt ul ul {
  border-left: 1px solid #eee;
  padding-left: 20px;
}
.postContent tr,
.postExcerpt tr {
  vertical-align: top;
}
@media screen and (max-width: 920px) {
  .postContent > .demo img {
    margin-left: 10px;
    margin-right: 10px;
  }
  .postContent li,
  .postExcerpt li {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  .postContent td,
  .postExcerpt td {
    padding: 2px 0;
  }
  .postHeader:before {
    width: 6px !important;
  }
}
@media screen and (min-width: 921px) {
  .postContent li,
  .postExcerpt li {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
  }
}
a {
  text-decoration: none;
}
a:not(.linkButton):hover {
  color: #2bbeff;
}
/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}
.post {
  position: relative;
}
.post + .post {
  margin-top: 120px;
}
/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.container {
  position: relative;
  min-height: 100vh;
  background: white;
}
.content {
  width: 920px;
  margin: 0 auto;
  max-width: 100%;
  min-height: calc(100vh - 44px - 40px);
  padding-top: 60px;
}
.headerContent {
  margin: 0 auto;
  line-height: 35px;
  text-align: center;
}
.header {
  margin-bottom: 60px;
}
.title {
  font-size: 150%;
}
.title a {
  color: black;
  font-weight: bold;
}
.title a:hover {
  color: #2bbeff;
}
.title img {
  height: 90px;
}
.hb {
  cursor: pointer;
}
.hb,
.social-links div {
  cursor: pointer;
}
.headerButtons {
  float: right;
}
.headerButtons a {
  float: left;
  margin-left: 40px;
  text-align: right;
}
.header a.extra {
  color: #aaa;
  margin-left: 1em;
}
.header a.extra:hover {
  color: #000;
}
#home {
  clear: both;
}
.meta {
  color: #aaa;
}
.footer {
  max-width: 920px;
  margin: 0 auto;
  clear: both;
  color: #666;
  border-top: 1px solid #e3e3e3;
  margin-top: 2em;
  padding: 0.5em 0;
  overflow: hidden;
  text-align: center;
}
.footer .contact {
  float: left;
  margin-right: 3em;
}
.footer .contact a {
  color: #8085C1;
}
.footer .rss {
  margin-top: 1.1em;
  margin-right: -0.2em;
  float: right;
}
.footer .rss img {
  border: 0;
}
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
.post {
  background: white;
}
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}
.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}
.post pre code {
  border: none;
}
/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}
.post pre.terminal code {
  background-color: #333;
}
.postHeader {
  position: relative;
}
.postTitle {
  font-weight: bold;
  line-height: 1.3em;
  margin-bottom: 8px;
}
.postTitle a {
  color: #333;
}
.postTitle a:hover {
  color: #2bbeff;
}
@media screen and (max-width: 480px) {
  .postTitle {
    font-size: 160%;
  }
}
@media screen and (min-width: 481px) {
  .postTitle {
    font-size: 36px;
  }
}
.postMetadata {
  font-size: 85%;
  color: #999;
  margin-bottom: 8px;
}
.postCategories > span:not(:first-child) {
  padding: 0 10px;
}
.postHeader .postDate {
  padding: 10px 0;
  height: 20px;
}
.pagination {
  margin-bottom: 2em;
}
.pagination > * {
  padding: 0 4px;
  margin: 0 4px;
}
#social {
  margin-top: 32px;
  margin-bottom: 32px;
}
#social > * {
  display: inline !important;
  margin-right: 10px;
}
#shareFB {
  position: relative;
  top: -6px;
}
#shareTwitter {
  width: 80px !important;
}
.readMore {
  cursor: pointer;
}
.postFooter {
  height: 30px;
  margin-top: 40px;
}
.indexPost + .indexPost {
  margin-top: 55px;
}
#smallAbout {
  display: none;
}
.flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex {
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.flatlist {
  list-style-type: none;
}
.gray {
  color: #666;
}
.complete {
  color: #d6d6d6 !important;
}
.ml10 {
  margin-left: 10px;
}
.ipdate {
  width: 115px;
  float: left;
  font-weight: bold;
}
.iptitle {
  font-weight: bold;
}
.tag {
  color: #09d;
  font-weight: bold;
}
.date {
  color: #a30;
  font-weight: bold;
}
.contact {
  color: #2a6;
  font-weight: bold;
}
.demo {
  border: 0;
}
.p0 {
  color: #f30;
}
.p1 {
  color: #fa0;
}
.p2 {
  color: #fd3;
}
.pStar {
  background: #ffb;
  padding: 5px;
}
.search {
  white-space: nowrap;
  overflow: hidden;
  margin-right: 3px;
}
.search.border {
  border: 1px solid #eaeaea;
  border-radius: 4px;
  padding: 3px 5px 4px 5px;
  margin: 0 3px;
}
.searchList img {
  vertical-align: middle;
}
.searchList img:not(:first-child) {
  margin-left: 4px;
}
.b {
  font-weight: bold;
}
