@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-map-marker:before {
	content: "\e601";
}
.icon-facebook:before {
	content: "\e602";
}
.icon-twitter:before {
	content: "\e603";
}
.icon-linkedin:before {
	content: "\e604";
}
.icon-github:before {
	content: "\e605";
}
.icon-google-plus:before {
	content: "\e606";
}
.icon-envelope-alt:before {
	content: "\e607";
}
.icon-ellipsis-horizontal:before {
	content: "\e600";
}
.icon-caret-down:before {
	content: "\e609";
}
.icon-caret-up:before {
	content: "\e60a";
}
